.whatsapp-cta {
    position: fixed;
    z-index: 9;
    right: 65px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .35s ease; }
    .whatsapp-cta.clicked {
      transform: translateY(-50%) translateX(100%); }
    @media screen and (min-width: 997px) and (max-width: 1500px) {
      .whatsapp-cta {
        right: 33px; } }
    .whatsapp-cta .whatsapp-cta-text {
      color: #fff;
      font-family: 'CeraPro-Bold', serif;
      text-align: center;
      display: none; }
    @media only screen and (max-width: 997px) {
      .whatsapp-cta {
        position: fixed;
        bottom: -24px;
        top: auto;
        left: 0;
        right: 0;
        background-color: #00aeef;
        z-index: 1000; }
        .whatsapp-cta::before {
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          background-color: rgba(0, 174, 239, 0.2);
          left: 0;
          top: -4px;
          position: absolute; }
        .whatsapp-cta .whatsapp-cta-text {
          display: block;
          padding: 10px; }
        .whatsapp-cta .whatsapp-cta-img {
          display: none; } }
  
  @keyframes icon-pulse {
    0% {
      transform: scale(1); }
    100% {
      transform: scale(1.1); } }
  
  .whatsapp-cta-img,
  .call-cta {
    -webkit-transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all;
    animation: icon-pulse .75s infinite alternate; }
  
  @media only screen and (max-width: 997px) {
    .mobile-cta {
      position: fixed;
      z-index: 9;
      bottom: 0;
      left: 0;
      height: 50px;
      width: 100%;
      background-color: rgba(40, 254, 197, 0.5);
      padding: 0 15px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between; } }
  
  @media only screen and (min-width: 997px) {
    .mobile-cta {
      display: none; } }
  
  .whatsapp-mobile-link {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 24px;
    color: #00aeef;
    text-align: center;
    line-height: 40px; }
  
  .whatsapp-tooltip {
    max-width: 289px;
    position: absolute;
    left: 15px;
    min-height: 75px;
    background-color: #00aeef;
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    border-radius: 5px;
    top: -85px;
    transition: all .35s ease-in-out; }
    .whatsapp-tooltip:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -8px;
      left: 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 18px 9px 0 9px;
      border-color: #00aeef transparent transparent transparent; }
    .whatsapp-tooltip .fa-whatsapp {
      font-size: 42px;
      color: #FFF; }
    .whatsapp-tooltip.clicked {
      transform: translateY(-10px);
      opacity: 0;
      visibility: hidden; }
  
  .whatsapp-tooltip-text {
    font-size: 14px;
    color: #FFF;
    width: 76%;
    margin-left: 6%; }
  
  .call-cta-wrapper {
    position: fixed;
    z-index: 9999;
    text-align: center;
    transition: all .35s ease;
    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
    right: 12px; }
    .call-cta-wrapper .btn {
      min-width: 50px; }
    @media only screen and (max-width: 997px) {
      .call-cta-wrapper {
        display: none; } }
    @media screen and (min-width: 997px) and (max-width: 1500px) {
      .call-cta-wrapper {
        bottom: 15px; } }
    @media only screen and (min-width: 1500px) {
      .call-cta-wrapper {
        bottom: 38px; } }
    .call-cta-wrapper.visible {
      transform: translateY(0);
      opacity: 1;
      visibility: visible; }
  
  .call-tooltip {
    position: relative;
    background-color: #FFF;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out; }
    .call-tooltip.clicked {
      transform: translateY(-30px);
      opacity: 0;
      visibility: hidden; }
    @media screen and (min-width: 997px) and (max-width: 1500px) {
      .call-tooltip {
        width: 110px;
        padding: 10px 14px 19px; } }
    @media only screen and (min-width: 1500px) {
      .call-tooltip {
        padding: 0 8px;
        padding-top: 22px;
        padding-bottom: 19px;
        width: 165px;
        min-height: 148px; } }
    .call-tooltip:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #FFF;
      border-width: 10px;
      margin-left: -10px; }
  
  .close-call-cta {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #223e7c;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 0;
    line-height: 20px;
    transition: all .3s ease-in-out;
    border: none; }
    .close-call-cta:hover {
      color: #FFF;
      background-color: #223e7c;
      cursor: pointer; }
    .close-call-cta.clicked {
      transform: translateY(-30px);
      opacity: 0;
      visibility: hidden; }
  
  .open-call-tooltip {
    cursor: unset; }
    .open-call-tooltip.clicked {
      cursor: pointer; }
  
  .tooltip-text {
    color: #808185;
    margin-bottom: 11px;
    font-size: 12px; }
    .tooltip-text .variant {
      font-weight: 700;
      display: block;
      margin-bottom: 5px;
      color: #2a2a2a; }
      @media screen and (min-width: 997px) and (max-width: 1500px) {
        .tooltip-text .variant {
          font-size: 16px; } }
      @media only screen and (min-width: 1500px) {
        .tooltip-text .variant {
          font-size: 20px; } }
  
  @media screen and (min-width: 997px) and (max-width: 1500px) {
    .call-cta {
      margin-top: 10px;
      max-width: 70px; } }
  
  @media only screen and (min-width: 1500px) {
    .call-cta {
      margin-top: 30px; } }
  
  .close-cta {
    font-size: 28px;
    position: absolute;
    top: 15px;
    right: 0;
    color: #ccc;
    border: 0;
    background-color: transparent; }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 62, 124, 0.9);
    z-index: 9999;
    display: none; }
    .overlay a:hover, .overlay button:hover {
      cursor: pointer; }
  
  .form-wrapper-all {
    min-height: 460px;
    width: 520px;
    padding-bottom: 30px;
    background-color: #FFF;
    border-radius: 4px;
    font-size: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute; }
    @media only screen and (max-width: 997px) {
      .form-wrapper-all {
        width: 100%; } }
    .form-wrapper-all .instance:not(.active) {
      display: none; }
  
  .form-pickers {
    background-color: #f1f2f2;
    color: #58595b;
    font-size: 11px;
    height: 47px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
    font-weight: 700; }
    /* .form-pickers + .form-pickers {
      margin-left: 0.6667%; } */
      /* .form-pickers-margin{
          margin-right: 0.5%;
          margin-left: 0.5%;
      } */
    .form-pickers i {
      color: #00aeef;
      font-size: 16px;
      margin-right: 5px; }
      .form-pickers i.alt {
        font-weight: 300; }
    .form-pickers.active, .form-pickers:hover {
        background: #89b406;
        background: -moz-linear-gradient(top, #89b406 0, #699925 100%);
        background: -webkit-linear-gradient(top, #89b406 0, #699925 100%);
        background: -o-linear-gradient(top, #89b406 0, #699925 100%);
        background: -ms-linear-gradient(top, #89b406 0, #699925 100%);
        background: linear-gradient(to bottom, #89b406 0, #699925 100%);
      color: #FFF; }
      .form-pickers.active i, .form-pickers:hover i {
        color: #FFF; }
  
  .leave-message {
    text-align: center;
    max-width: 80%;
    display: block;
    margin: 0 auto; }
    .leave-message .fields {
      max-width: 300px;
      margin: auto; }
      @media only screen and (min-width: 997px) {
        .leave-message .fields .half {
          width: 47.5%;
          float: left; } }
      @media only screen and (min-width: 997px) {
        .leave-message .fields .half + .half {
          margin-left: 5%; } }
      .leave-message .fields .full {
        clear: both; }
    .leave-message .field-wrapper {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      position: relative; }
      .leave-message .field-wrapper .icon {
        position: absolute;
        left: 2px;
        height: 36px;
        background-color: #FFF;
        top: 1px;
        bottom: 1px;
        width: 36px;
        text-align: center;
        z-index: 2; }
        .leave-message .field-wrapper .icon i {
          color: #00aeef;
          font-size: 16px;
          line-height: 34px; }
  
  .field-green {
    height: 38px;
    border: 1px solid #00aeef;
    border-radius: 4px;
    width: 100%;
    padding: 5px 10px; }
    .field-green.bigger {
      height: 75px; }
    .field-green.has-icon {
      padding-left: 40px; }
  
  .leave-title {
    font-size: 20px;
    color: #808185;
    font-weight: 700;
    line-height: 24px;
    padding-top: 25px;
    margin-bottom: 30px;
    max-width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
    .leave-title .variant {
      font-size: 30px;
      display: block;
      margin-bottom: 10px; }
  
  .callers {
    font-size: 14px;
    color: #808185;
    margin-top: 18px; }
    .callers .number {
      padding: 3px 8px;
      border-radius: 50%;
      color: #FFF;
      background-color: red; }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 48px;
    border: 0;
    background-color: transparent;
    padding: 0;
    color: #FFF; }
  
  .confirm {
    width: 78px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #28a745;
    font-size: 16px;
    color: #FFF;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: .2s ease; }
    .confirm:hover {
      background-color: #FFF;
      color: #28a745;
      border-color: #28a745; }
  
  .call-me-later {
    width: 300px;
    height: 42px;
    background-color: #28a745;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 4px; }
    .call-me-later:hover {
      color: #28a745;
      border-color: #28a745;
      background-color: #FFF; }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 48px;
    border: 0;
    background-color: transparent;
    padding: 0;
    color: #FFF; }
  
  .close-submenu {
    width: 80vw;
    height: 58px;
    background-color: #6fb6a4;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    border: 0;
    color: #FFF;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    top: -51px;
    opacity: 0;
    visibility: hidden;
    transition: all .35s ease-in-out; }
    .close-submenu:after {
      content: '\f053';
      display: block;
      font-family: 'Font Awesome 5 Free';
      color: #FFF;
      font-size: 18px;
      position: absolute;
      transform: translateY(-50%);
      top: 47.5%;
      right: 30px;
      font-weight: 700; }
    .close-submenu.submenu-open {
      opacity: 1;
      visibility: visible; }
  
  .generic-mobile-cta {
    color: #333;
    background-color: #28fec5;
    border: 5px solid #FFF;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    font-weight: 700; }
    .generic-mobile-cta.call-link {
      font-size: 15px;
      width: 92px;
      padding-top: 6.5px; }
    .generic-mobile-cta.modal {
      font-size: 12px;
      width: 144px;
      padding-top: 3px; }
  
  .close-whatsapp-tooltip {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    font-size: 24px;
    background-color: transparent;
    border: 0;
    color: #FFF; }
  .btn-lack{
    border: 2px solid #82b539;
    background: #89b406;
    background: -moz-linear-gradient(top, #89b406 0, #699925 100%);
    background: -webkit-linear-gradient(top, #89b406 0, #699925 100%);
    background: -o-linear-gradient(top, #89b406 0, #699925 100%);
    background: -ms-linear-gradient(top, #89b406 0, #699925 100%);
    background: linear-gradient(to bottom, #89b406 0, #699925 100%);
    font-weight: 700;
    border-radius: 30px;
    color: #fff;
  }
  .btn-lack:hover{
      color: #fff;
  }